header,
main,
footer,
.container {
  padding-left: 150px;
}

body {
  background-color: #eceff1;
}

.sidenav {
  top: 64px;
}

nav .label-icon .material-icons {
  color: black !important;
}

nav .brand-logo {
  padding-left: 10px;
}

#formSearch {
  margin-left: 200px;
}

.icon-flipped {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.network-status::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  margin-right: 5px;
  position: relative;
  border-radius: 5px;
}
.network-status {
  position: relative;
  left: 310px;
  color: rgb(118, 119, 121);
  border: 1px solid grey;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
}

.network-status:hover {
  pointer-events: none;
}

.network-status:focus {
  background-color: transparent !important;
}

.network-status--green::before {
  background-color: green;
}

.network-status--orange::before {
  background-color: orange;
}

.network-status--blue::before {
  background-color: blue;
}

.user-view {
  position: absolute;
  right: 20px;
  top: 10px;
}

.notifications {
  color: grey;
  position: absolute;
  top: 0px;
  right: 70px;
  height: 64px;
}

.notifications i {
  margin: 0;
}

.notifications-list {
  color: black;
  top: 60px;
  right: 90px;
  width: 500px;
  height: 400px;
  position: absolute;
  display: block;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: normal;
  overflow: auto;
}

.notifications-list h5 {
  color: #4fa6da;
  display: inline-block;
}

.notifications-list a {
  float: right;
  text-align: center;
  line-height: 35px;
}

.notifications-item {
  color: #4fa6da;
}
.new-project {
  position: fixed;
  top: 13px;
  right: 140px;
  z-index: 21;
}

span.badge.new,
.blue-grey.lighten-1 {
  background-color: rgb(79, 166, 218) !important;
}

body {
  padding-top: 100px;
}

.blue-grey.lighten-5 {
  background-color: transparent !important;
}

.top-navbar {
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) !important;
}

.left-nav {
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) !important;
  z-index: 0;
}

[data-target='slide-out'] {
  display: none;
}

a: .btn {
  text-transform: none;
}

.no-uppercase {
  text-transform: none;
}

.dropdown-content li a {
  color: #4fa6da;
}

.number-projects {
  font-size: 2.1rem;
  color: #4fa6da;
}

.card-action a {
  color: #4fa6da !important;
}

.project-additional .material-icons {
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer,
  .container {
    padding-left: 0;
  }

  .sidenav {
    top: 64px;
  }

  #formSearch {
    margin-left: 200px;
  }
}

@media only screen and (max-width: 599px) {
  .sidenav {
    top: 56px;
  }
}
