{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ],
  "editor.formatOnSave": true,
    "prettier.singleQuote": true,
    "prettier.jsxSingleQuote": true,
    "emmet.includeLanguages": {
      "javascript": "javascriptreact"
    }
}
