.modalEx-overlay {
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.modalEx {
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modalEx:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .modalEx {
    width: 80%;
  }
}

.modalEx h1,
.modalEx h2,
.modalEx h3,
.modalEx h4 {
  margin-top: 0;
}

.modalEx .modal-content {
  padding: 24px;
}

.modalEx .modal-close {
  cursor: pointer;
}

.modalEx .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modalEx .modal-footer .btn,
.momodalExdal .modal-footer .btn-large,
.modalEx .modal-footer .btn-small,
.modalEx .modal-footer .btn-flat {
  margin: 6px 0;
}

.modalEx.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modalEx.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modalEx.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modalEx.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
