.cardCustom .col:nth-child(2) span,
.cardCustom .icons {
  color: grey;
}
.cardCustom .icons {
  font-size: 18px;
  margin-top: 13px;
  position: relative;
  top: 4px;
  margin-right: 9px;
}
.cardCustom .col:nth-child(2) span {
  font-weight: 300;
}
.avatar .paper {
  float: left !important;
  position: relative !important;
  width: 42px !important;
  height: 42px !important;
  border-radius: 100% !important;
  vertical-align: top !important;
}
.projectAdditional {
  margin-top: 30px;
}

.projectAdditional .icons {
  font-size: 20px;
}
