.card-custom .col:nth-child(2) span,
.card-custom .material-icons {
  color: grey;
}
.card-custom .material-icons:not(.close) {
  font-size: 18px;
  margin-top: 13px;
  position: relative;
  top: 4px;
  margin-right: 9px;
}
.card-custom .col:nth-child(2) span {
  font-weight: 300;
}
.card-custom .card-icon {
  color: #4fa6da;
  font-size: 30px;
  margin-top: 0;
  position: relative;
  top: 0;
  margin-right: 9px;
}

.avatar .paper {
  float: left !important;
  position: relative !important;
  width: 42px !important;
  height: 42px !important;
  border-radius: 100% !important;
  vertical-align: top !important;
}

.navlink-title {
  color: #676767;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.navlink-title a.chosen,
.navlink-title a:hover {
  border-bottom: 1px solid #4fa6da;
  font-weight: bold;
}
