.card-custom .col:nth-child(2) span,
.card-custom .card-icon {
  color: #4fa6da;
}
.card-custom .card-icon {
  font-size: 30px;
  margin-top: 0;
  position: relative;
  top: 0;
  margin-right: 9px;
}
.card-custom .col:nth-child(2) span {
  font-weight: 300;
}
